// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-image: url('background.png');
  background-color: black;
}

#mixer_panel {
  width: 1024px;
  height: 768px;
  display: block;
  border: 2px solid black;
  padding-left: 5px;
  float:left;
}

#mixer_panel div {
  display: inline-block;
  vertical-align: top;
  padding: 0 5px 0 5px;
}

#left_mixer img{
  display: block;
  float: left;
  padding-left: 5px;
  padding-right: 5px;
}

#pitch h4,#pitch h4 {
  color: white;
}

#center_panel img{
  display: block;
  padding: 10px 10px;
}

#left_knob img, #right_knob img {
  display: block;
  padding: 10px 0 10px 0;
}

#right_mixer img{
  display: block;
  float: left;
  padding-left: 5px;
  padding-right: 5px;
}

#bottom_left_pad {
  padding-left: 10px;
}

#bottom_left_pad, #bottom_center_pad, #bottom_right_pad{
  padding-top: 30px;
}

#bottom_center_pad img{
  display: block;
  padding-top: 20px;
  padding-left: 5px;
  padding-right: 5px;
}

#bottom_left_pad img, #bottom_right_pad img{
  display: inline;
  padding: 0 0 ;
}

#bottom_left_pad h4, #bottom_right_pad h4{
  padding: 10px 0 10px 0;
  color: white;
}

#library {
  display: inline;
  position: absolute;
  margin-left: 1050px;
  float: right;
  background: #ddd;
}

#startup #prompt {
  background: #ddd;
  border-radius: 5px;
}

#mask {
  width: 100%;
  height: 100%;
  background: #000;
}

#prompt input {
  margin-top: 15px;
  margin-left: 15px;
}

#footer {
  bottom: -3px;
  background: #858585;
}

#songs {
  background: #ddd;
  overflow: scroll;
  padding-left: 5px;
  height: 530px;
}

#playlist {
  color: gray;
}

#playlist table {
  width: 100%;
  margin: 5px;
  margin-left: 10px;
}

table tr:hover {
  background: #BBCEE9;
  border-radius: 5px;
}

table tr {
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}

table td {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 5px;
}


#playlist table tr.playing {
  /*background: #76AD8B;*/
  font-style: italic;
  color: black;
}

#playlist table tr.playing td {
  padding-left: 20px;
  color: black;
}

#listtools {
  bottom: 40px;
  right: 5px;
  color: #ddd;
}
#listtools a {
  color: #ddd;
  text-decoration: none;
}

tr.hidden {
  display:none;
}

